.add-or-edit-task {
  width: 480px;
  max-height: 900px;
  background-color: var(--kb-color-white);
  border-radius: 6px;
  padding: 32px;
  .section-title {
    color: var(--kb-color-medium-gray);
    font-weight: bold;
    font-size: var(--kb-font-size-body-m);
    margin-bottom: 8px;
  }
  .what-to-do-with-the-task {
    color: var(--kb-color-black);
    font-weight: bold;
    font-size: var(--kb-font-size-heading-l);
  }
  .title {
    margin-top: 24px;
  }
  .description {
    margin-top: 24px;
  }
  .subtasks {
    margin-top: 8px;
    .subtask-item + .subtask-item {
      margin-top: 12px;
    }
    .subtask-item {
      --close-button-width: 40px;
      display: flex;
      align-items: center;
      div:first-child {
        width: calc(100% - var(--close-button-width));
      }
      .close-button {
        margin-left: auto;
        cursor: pointer;
        color: #828fa3;
        transition: 0.2s color;
        &:hover {
          color: var(--kb-color-main-purple);
        }
      }
    }
    .add-new-subtask {
      margin-top: 12px;
      &:hover {
        color: var(--kb-color-white);
      }
    }
  }
  .status-dropdown {
    margin-top: 24px;
    .section-title {
      margin-bottom: 8px;
    }

    .save-button-wrapper {
      margin-top: 24px;
    }
  }
}

// form styles
.input-for-task-field-wrapper {
  width: 100%;
  position: relative;
  .input-for-task-field {
    background-color: #fff;
    width: 100%;
    color: var(--kb-color-black);
    font-weight: 500;
    font-size: var(--kb-font-size-body-l);
    line-height: 23px;

    &.error {
      border: 1px solid var(--kb-color-red);
    }
  }

  &.error + .close-button {
    color: var(--kb-color-red) !important;
  }

  .empty-label {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ea5555;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.textarea-for-task-field {
  width: 100%;
  height: 112px;
  resize: none;

  font-size: 13px;
  &::placeholder {
    opacity: 0.25;
    color: #000112;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.input-for-task-field,
.textarea-for-task-field {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #828fa33f;
  outline: none;
  &:focus-visible {
    border: 1px solid var(--kb-color-main-purple);
  }
}
