@use "../../scss/" as *;
.task-detail-wrapper {
  @include set-dynamic-width-of-dialog();
  max-height: 900px;
  background-color: var(--kb-color-white);
  @include dark {
    background-color: var(--kb-color-dark-gray);
  }

  border-radius: 6px;
  padding: 32px;
  .title-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    --ellipsis-button-width: 10px;
    .title {
      color: var(--kb-color-black);
      @include dark {
        color: var(--kb-color-white);
      }
      font-weight: bold;
      font-size: 18px;
      width: calc(100% - var(--ellipsis-button-width));
    }
    .ellipsis-button {
      width: var(--ellipsis-button-width);
      cursor: pointer;
      background-color: var(--kb-color-white);
      @include dark {
        background-color: var(--kb-color-dark-gray);
      }
      display: flex;
      justify-content: center;
      align-items: center;
      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: auto;
      }
    }
    margin-bottom: 20px;
  }
  .description {
    color: var(--kb-color-medium-gray);
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
  }
  .subtask-list-wrapper {
    > * + * {
      margin-top: 8px;
    }
  }
  .status-dropdown {
    margin-top: 24px;
    .status-title {
      color: #828fa3;
      font-weight: bold;
      font-size: 12px;
      line-height: normal;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 8px;
    }
  }
}
