.task-detail-wrapper {
  width: 480px;
  max-height: 900px;
  background-color: var(--kb-color-white);
  border-radius: 6px;
  padding: 32px;
  .title {
    color: var(--kb-color-black);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .description {
    color: var(--kb-color-medium-gray);
    font-weight: medium;
    font-size: 13px;
    line-height: 23px;
  }
  .subtask-list-wrapper {
    > * + * {
      margin-top: 8px;
    }
  }
}
