@use "../../scss/" as *;
.all-board-number {
  padding-left: 32px;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 800;
  color: var(--kb-color-medium-gray);
  @extend %single-line-ellipsis;
}
