@use "../../scss/" as *;

.kb-select-trigger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #828fa33f;
  background-color: var(--kb-color-white);

  @include dark {
    background-color: var(--kb-color-dark-gray);
    color: var(--kb-color-white);
  }

  font-size: var(--kb-font-size-body-l);
  outline: none;

  &:focus,
  &.open {
    border: 1px solid #635fc7;
  }

  .icon {
    transition: transform 0.1s;
    &.rotate {
      transform: rotate(180deg);
    }
  }
}

.kb-select-content {
  width: 416px;
  padding: 16px;
  overflow: hidden;
  border-radius: 8px;

  background: var(--kb-color-white);
  color: var(--kb-color-medium-gray);

  @include dark {
    background-color: var(--kb-color-dark-gray);
    color: var(--kb-color-white);
  }

  box-shadow: 0px 10px 20px 0px #364e7e3f;
  z-index: 5;
  .kb-select-item {
    padding: 4px 4px;
    border-radius: 4px;
    font-weight: 500;
    font-size: var(--kb-font-size-body-l);
    @include dark {
      color: var(--kb-color-medium-gray);
    }
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;

    &:focus,
    &:hover {
      outline: none;
      color: var(--kb-color-white);
      background-color: var(--kb-color-main-purple-hover);
    }
  }
}
