.board-column-wrapper {
  width: 280px;
  .column-header {
    display: flex;
    align-items: center;
    font-size: var(--kb-font-size-heading-s);
    .icon-div {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      //debug
      background-color: var(--column-icon-color, blue);
    }
    .text {
      margin-left: 0.6em;
      text-transform: uppercase;
      color: var(--kb-color-medium-gray);
    }
  }

  .task-list-wrapper {
    margin-top: 20px;
    * + * {
      margin-top: 15px;
    }
  }
}
