@use "../../scss/" as *;

.primitive-toggle {
  --width: 40px;
  width: var(--width);
  height: 20px;
  border-radius: 12px;
  background-color: var(--kb-color-main-purple);
  cursor: pointer;
  --padding-x: 5px;
  padding: 3px var(--padding-x);
  .slider {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: var(--kb-color-white);
    transition: 0.3s transform;

    &.left {
      transform: translateX(0px);
    }
    &.right {
      transform: translateX(calc(var(--width) - 2 * var(--padding-x) - 100%));
    }
  }
}
.theme-toggle {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: var(--kb-color-light-gray);
  @include dark {
    background-color: var(--kb-color-very-dark-gray);
  }
  width: 250px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  svg {
    cursor: pointer;
    transition: color 0.2s;
    color: var(--kb-color-medium-gray);
    &:hover {
      color: var(--kb-color-main-purple);
    }
    &.selected {
      color: var(--kb-color-main-purple);
    }
  }
}
