.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--kb-color-light-gray);
  @at-root [data-theme="dark"] & {
    background-color: var(--kb-color-very-dark-gray);
  }
}
