@use "../scss/index" as *;

.layout-header {
  height: 97px;
  display: flex;
  align-items: center;
  background-color: var(--kb-layout-bg);
  overflow: hidden;

  .logo-wrapper {
    width: var(--kb-sidebar-with);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--kb-layout-border-color);
    height: 100%;
    flex-shrink: 0;

    @include mobile {
      width: 56px;
      border-right: 0;
    }
  }

  .board-banner {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid var(--kb-layout-border-color);
    .add-task-button {
      margin-left: auto;
      font-size: 12px;
      flex-shrink: 0;
      svg {
        width: 12px;
        height: 12px;
      }
    }
    .ellipsis-button {
      justify-self: end;
    }
  }
}

.ellipsis-button {
  flex-shrink: 0;
  .ellipsis-wrapper {
    background-color: transparent;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
    margin-right: 25px;
    margin-left: 15px;
    padding: 5px;
  }
}
