.layout-body {
  flex-grow: 1;
  display: flex;
  .sidebar-wrapper {
    width: var(--kb-sidebar-with);
    transition: width var(--sidebar-transition-time);
    overflow: hidden;
    flex-shrink: 0;
    border-right: 1px solid var(--kb-layout-border-color);
  }
  .show-sidebar-wrapper {
    position: fixed;
    bottom: 40px;
    left: 0px;
  }
  .board-wrapper {
    flex-grow: 1;
  }
}
