.sidebar {
  background-color: var(--kb-layout-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
  .theme-toggle-wrapper {
    margin: 0 auto;
    margin-top: auto;
  }
  .sidebar-toggle-wrapper {
    margin-top: 5px;
    margin-bottom: 35px;
  }
}
